$col-white: #ffffff;
$col-primary: #08adcd;
$col-secondary: #228290;
$col-danger: #ff6601;
$col-bg: #e8e8e8;
$col-box-shadow: rgba(0, 0, 0, 0.8);

$spacing-xs: 4px;
$spacing-sm: 6px;
$spacing-md: 10px;

$border-radius-sm: 4px;
$border-radius-md: 6px;

$box-shadow-xs: 0px 0px 8px -4px $col-box-shadow;
$box-shadow-sm: 0px 0px 16px -8px $col-box-shadow;

$input-height: 32px;

$fs-sm: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 20px;